.completed{
    text-decoration: line-through;
    opacity: 0.4;
}
.del{
    color: pink;
}
.item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    width: 80%;
    height: 50px;
    margin: 8px auto;
    padding: 15px;
    border-radius: 20px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 20px;
}
.todo-button{
    width: 100px;
    height: 52px;
    line-height: 52px;
    border-radius: 20px 20px 20px 20px;
    text-align: center;
    background: linear-gradient(to right,rgb(36, 172, 250),rgb(255, 255, 255));
    color: white;
    cursor: pointer; 
    user-select: none;
}
.todoinput
{ 
    box-sizing: border-box;
    margin-bottom: 20px;
    padding-left: 15px;
    border: 1px solid #dfe1e5;
    outline: none;
    width: 60%;
    height: 50px;
    border-radius: 20px 20px 20px 20px;

}
.todo-form{
    display: flex;
    margin-left: 200px;
    margin-right: 30px;
}
body{
    background: linear-gradient(to right,rgb(113,65,168), rgb(44,114,251,1)
    );
}   
.todo-app{
    width: 98%;
    height: 500px;
    padding-top: 30px;
    box-sizing: border-box;
    background-color: #ffff;
    border-radius: 5px;
    margin-top: 40px;
    margin-left: 1%;

}
.title{
    font-size: 30px;
    margin-top: 40px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 20px;
}