h1{
    font-size: larger;
    text-align: center;
    font-style: "Î¢ÈíÑÅºÚ";
    color: white;
    text-shadow: 3px 3px 4px gray
}
body{
    text-align: center;
    line-height: 5em;
    font-size: 32px;
    font-family: "¿¬Ìå";
    color: white;
    text-shadow: 3px 3px 4px gray
}
