#show{width:80%;
border-collapse: collapse;
margin: auto;  /* 让表格水平居中 */
}
#show td{border:1px solid #66C1E4;line-height: 40px;padding-left: 20px;}
#show td.imgarea{ height: 120px;text-align: center;}
.imgarea img{width: 200px;border: 3px double gray ; padding: 5px;margin:10px; border-radius: 10px;
box-shadow: 3px 3px 5px #66C1E4;}
.impor_title {color:#309;font-weight: bold;}
.para { background: url(../image/icon1.png) no-repeat  10px center;padding-left: 30px; }
.para span{margin-left: 10px;}