main{
    font:16px "微软雅黑";
    width: 800px;
    margin: auto;
}

.info{
    text-indent: 2.0em;
    color:black;
    font-weight: bold;
}
fieldset{
    border:3px solid #66c1e4;
    padding: 10px 30px;
}
legend{
    font-weight: bold;
    color: blue;
}
.text-box{
    border: 1px solid #66c1e4;
    width: 400px;
    padding: 5px 10px;
}
.button
{
    text-align: center;
}
.button input{
    padding: 10px 30px;
    margin: 10px;
    /* background-color: #66c1e4; */
    font-weight: bold;
    color: #fff;
    border:none;
    letter-spacing: 3px;
}
.tj
{
    background-color:goldenrod;
}
.reset
{
    background-color: #66c1e4;
}