header{width: 1200px;height: 100px;margin: auto; background-color: #ccc;text-align: center;}
nav{background-color: #006E85;line-height: 50px; text-align: center;color: white;}
main{width: 1200px;margin: auto;}
.banner{ background-image:url(../img/banner_1200.jpg); 
background-position: center center;background-repeat: no-repeat;
background-size: 100%;padding-top: 32%; 
}
h1{text-align: center;}
.case{height: 300px;background-color: #ccc;}
.about{text-align: center;}
.about .top p{width: 590px;}
.about .top p:first-child{ background-color: #006E85;height: 300px;float: left;}
.about .top p:last-child{ background-color: #03AACE;height: 300px;float: right;}
.about .bottom{background-color: #ccc;height: 200px; margin-top:10px ;clear: both;}
#footer{background-color: #006E85; text-align: center;}
@media(max-width:1200px) and (min-width:960px){
	header{width:960px ;}
	main{width: 960px;}
	.banner{background-image: url(../img/banner_960.jpg);}
	.about .top p{width: 470px;}
}
@media(max-width:960px) and(min-width:600px){
	header{width: 100%;}
	main{width: 100%};
	.banner{background-image: url(../img/banner_960.jpg);}
	.about .top p{width: 48%;}
}
@media(max-width:600px){
	header{width: 100%;}
	main{width: 100%;max-width: 600px;}
	.about .top p{float: none; width: 100%;}
	.about .bottom{display: none;}
	.banner{background-image: url(../img/banner_480.jpg);}
	
}